$def with (key)

<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="pcap-PID" class="col-sm-2 control-label">Trace file (.pcap only)</label>
    <div class="col-sm-10">
        <input type="text" id="pcap-PID" class="form-control" name="problem[PID][pcap]"/>
    </div>
</div>
<div class="form-group row">
    <label for="range-PID" class="col-sm-2 control-label">Network layers</label>
    <div class="col-sm-10">
        <input type="text" id="range-PID" class="form-control" name="problem[PID][range]" placeholder="network, transport, application or a combination such as network-transport"/>
    </div>
</div>
<div class="form-group row">
    <label for="hide-PID" class="col-sm-2 control-label">Hide fields</label>
    <div class="col-sm-10">
        <textarea id="hide-PID" class="form-control" name="problem[PID][hide]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="feedback-PID" class="col-sm-2 control-label">Feedback</label>
    <div class="col-sm-10">
        <textarea id="feedback-PID" class="form-control" name="problem[PID][feedback]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="shuffle-PID" class="col-sm-2 control-label">Shuffle packets</label>
    <div class="col-sm-2">
        <input type="checkbox" id="shuffle-PID" class="form-control" name="problem[PID][shuffle]">
    </div>
</div>
