{{ header | safe }}
<table id="table-{{id}}" class="table table-bordered table-hover compact stream">
    <thead>
    <tr>
        <th>#</th>
        <th>{{ gettext('Length') }}</th>
        <th>{{ gettext('Summary') }}</th>
        <th>{{ gettext('Status') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for index, length, resume, status in stream %}
            <tr data-packet-number="{{ loop.index0 }}">
                <input type="hidden" name="{{ id }}" value="{{ index }}">
                <td>{{ loop.index0 }}</td>
                <td>{{ length }} {{ gettext('bytes') }}</td>
                <td><code>{{ resume }}</code></td>
                <td class="packet-status">{{ ('&nbsp;<i class="fa fa-exclamation-triangle"></i>' if status == 'incomplete' else '') | safe }}<span class="packet-status" data-packet-number="{{index}}"></span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr />

{% for i, p in trace %}
    {{ print_dissection(id, loop.index0, p, i) | safe }}
{% endfor %}

<script>
    $(window).ready(function () {
        function handleOver(e) {
            const start_idx = $(e.target).data('start-offset');
            const end_idx = $(e.target).data('end-offset');

            if (start_idx == end_idx)
                return;

            $('.shown .structure li').attr('style', '');
            $('.shown .structure ul').attr('style', '');
            $(e.target).css('background-color', '#566aff').css('color', 'white');

            const bytes = $('.shown .hex-view code.byte');
            bytes.attr('style', '');
            bytes.slice(start_idx, end_idx).css('background-color', '#566aff').css('color', 'white');

            const chars = $('.shown .hex-view code.char');
            chars.attr('style', '');
            chars.slice(start_idx, end_idx).css('background-color', '#566aff').css('color', 'white');
        }

        $('.structure li').click(handleOver);
        $('.structure ul').click(handleOver);

        $('.packet').hide();
        $('.packet-0').addClass('shown').show();
        $('#table-{{id}}.stream tr').click(function () {
            $('#table-{{id}}.stream tr').attr('style', '');
            $(this).css('background-color', '#566aff').css('color', 'white');
            const packet_number = parseInt($(this).find('td').first().text());
            $('.packet').removeClass('shown').hide();
            $('.packet-' + packet_number).addClass('shown').show();
        });

        const tableConfig = {stateSave: true, searching: false, rowReorder: false, ordering: false, paging: false, info: false, scrollY: '306px', scrollCollapse: true};

        {% if shuffle %}
            tableConfig['rowReorder'] = {selector: 'td:nth-child(2)', update: false, dataSrc: 1};
        {% endif %}

        const table = $('#table-{{id}}').DataTable(tableConfig);
        table.on('row-reordered', function (e, diff, edit) {
            console.log(edit);
            if (diff.length >= 2) {
                $('#table-{{id}}.stream tr').attr('style', '');
                const newRow = $(edit.nodes[parseInt(edit.values[undefined])]);  // :mfl:
                newRow.css('background-color', '#566aff').css('color', 'white');
                const packet_number = parseInt(newRow.find('td').first().text());
                console.log(newRow, packet_number);
                $('.packet').removeClass('shown').hide();
                $('.packet-' + packet_number).addClass('shown').show();
            }
        });
    });
</script>
